<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary" style="width:50%; margin:auto">
            <div clss="panel-heading">
                <div class="panel-title">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Quiz
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-label text-uppercase">Username</div>
                                <input class="form-control" type="text" name="txtUsername" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-label text-uppercase">Password</div>
                                <input class="form-control" type="password" name="txtPassword" value="" />
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-12">
                                <label style="color:red">Invalid username or password</label>
                            </div>
                        </div>-->
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="form-group col-md-2 col-md-offset-10">
                        <button type="button" class="form-control btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>